# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local

# Environment files
.env.local
.env.*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Secrets e binários locais
*.json.secret
client_secret_*.json
supabase.exe
supabase_windows_amd64.tar.gz
supabase/functions/**/.env
OAuthClient.jpg
